# Ignore local environment variables & secrets
.env

# Ignore Python compiled cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local streamlit runtime configuration
.streamlit/

# Ignore IDE settings & editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore OS-specific system files
.DS_Store
Thumbs.db
